body{
    background-color: aqua;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    object-fit: cover;
}

.pallini{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.pallina{
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}